/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        display-name = "Base";
                        bindings = <
   &kp F19   &kp Q      &kp W       &kp E       &mt LGUI R   &mt LMETA T &mt RMETA Y &mt RGUI U  &kp I       &kp O       &kp P         &kp LG(LC(Q))
   &lt 3 ESC &mt LGUI A &mt LCTRL S &mt LSHFT D &mt LALT F   &mt LCTRL G &mt RCTRL H &mt RALT J  &mt RSHFT K &mt RCTRL L &mt RGUI SEMI &lt 3 SQT
   &kp CAPS  &kp Z      &kp X       &kp C       &mt LSHFT V  &kp B       &kp N       &mt RSHFT M &kp COMMA   &kp DOT     &kp FSLH      &kp F20
                                    &lt 3 ESC   &lt 1 RETURN &lt 2 TAB   &lt 2 BSPC  &lt 1 SPACE &lt 3 SQT
                        >;
                };
                symnum_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        display-name = "SymNum";
                        bindings = <
   &trans     &kp EXCL    &kp AT       &kp HASH     &mt LGUI DLLR  &mt LMETA PRCNT &mt RMETA CARET &mt RGUI AMPS &kp STAR     &kp LPAR     &kp RPAR    &trans
   &trans     &mt LGUI N1 &mt LCTRL N2 &mt LSHFT N3 &mt LALT N4    &mt LCTRL N5    &mt RCTRL N6    &mt RALT N7   &mt RSHFT N8 &mt RCTRL N9 &mt RGUI N0 &trans
   &trans     &kp BSLH    &kp GRAVE    &kp LBRC     &mt LSHFT LBKT &kp MINUS       &kp EQUAL       &RSHFT RBKT   &kp RBRC     &kp DOT      &kp FSLH    &trans
                          	           &trans       &trans         &trans          &trans          &trans        &trans
                        >;
                };

                navmedia_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        display-name = "NavMedia";
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                    	     &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };

                fn_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        display-name = "NavMedia";
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                    	     &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };
                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };
        };
};
